.max-wrap:before,
.max-wrap:after,

.main:before,
.main:after,

.main-holder:before,
.main-holder:after,

.input-wrapper:before,
.input-wrapper:after,

.aaaclearfix01:before,
.aaaclearfix01:after,

.aaaclearfix02:before,
.aaaclearfix02:after,

.aaaclearfix03:before,
.aaaclearfix03:after,

.aaaclearfix04:before,
.aaaclearfix04:after,

.aaaclearfix05:before,
.aaaclearfix05:after,

.aaaclearfix06:before,
.aaaclearfix06:after,

.aaaclearfix07:before,
.aaaclearfix07:after,

.aaaclearfix08:before,
.aaaclearfix08:after,

.aaaclearfix09:before,
.aaaclearfix09:after,

.aaaclearfix10:before,
.aaaclearfix10:after,

.aaaclearfix11:before,
.aaaclearfix11:after,

.aaaclearfix12:before,
.aaaclearfix12:after,

.aaaclearfix13:before,
.aaaclearfix13:after,

.aaaclearfix14:before,
.aaaclearfix14:after,

.aaaclearfix15:before,
.aaaclearfix15:after,

.aaaclearfix16:before,
.aaaclearfix16:after,

.aaaclearfix17:before,
.aaaclearfix17:after,

.aaaclearfix18:before,
.aaaclearfix18:after,

.aaaclearfix19:before,
.aaaclearfix19:after
{
	content: "";
	display: table;
}

.max-wrap:after,
.main:after,
.main-holder:after,
.input-wrapper:after,
.aaaclearfix01:after,
.aaaclearfix02:after,
.aaaclearfix03:after,
.aaaclearfix04:after,
.aaaclearfix05:after,
.aaaclearfix06:after,
.aaaclearfix07:after,
.aaaclearfix08:after,
.aaaclearfix09:after,
.aaaclearfix10:after,
.aaaclearfix11:after,
.aaaclearfix12:after,
.aaaclearfix13:after,
.aaaclearfix14:after,
.aaaclearfix15:after,
.aaaclearfix16:after,
.aaaclearfix17:after,
.aaaclearfix18:after,
.aaaclearfix19:after
{
	clear: both;
}