/* icons */
[class|="icon"],
[class*=" icon-"]{background:url(../img/sprite-icons.png) 0 0 no-repeat;}
/* icons end */

/* social icons */
[class|="soc-icon"],
[class*=" soc-icon-"] {background:url(../img/sprite-social.png) 0 0 no-repeat;}
/* social icons end */

/* arrows */
[class|="arrow"],
[class*=" arrow-"] {background:url(../img/sprite-arrows.png) 0 0 no-repeat;}
/* arrows end */

/* form icons */
[class|="icon-form"],
[class*=" icon-form-"] {background:url(../img/sprite-forms.png) 0 0 no-repeat;}
/* form icons end */

/* stars */
[class|="icon-star"],
.icon-star,
[class*=" icon-star-"]{background:url(../img/sprite-rating.png) 0 0 no-repeat;}
/* stars end */

/* corners */
[class|="corner"],
[class*=" corner-"] {background:url(../img/sprite-corners.png) 0 0 no-repeat;}
/* corners end */